@import "tailwindcss";

@theme {
  --breakpoint-xs: 425px
}

@font-face {
  font-family: "MuseoSans";
  src: url("./assets/font/muesoSans.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansBold";
  src: url("./assets/font/MuseoSans_700.otf") format("truetype");
  font-style: normal;
}

/* 🌸 Global Styles + Custom Variables */
:root {
  --color-primary: #03045eff;
  --color-accent: #00b4d8ff;
  --color-overlay: rgba(244, 244, 242, 0.13);
  --color-text: #f4f4f2;
  --color-secondary: #0077b6ff;
  --color-tertiary: #90e0efff;

  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;

  --font-base: "MuseoSans", sans-serif;
}

* {
  font-family: var(--font-base);
}

body {
  background-color: var(--color-text);
}

@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Upward movement */
  }
}

.bounceY {
  animation: bounceY 1s ease-in-out infinite;
}

.drop {
  filter: drop-shadow(0px 0px 10px white);
}